<% Event.all.each do |event| %>
  <%= turbo_stream_from event %>
<% end %>

<table border=1>
  <tr>
    <th></th>
    <th>Turing</th>
    <th>Winston</th>
    <th>Sharman</th>
    <th>Ennis</th>
  </tr>
  <%= render_scoreboard_rows 9 %>
  <%= render_scoreboard_rows 10 %>
  <%= render_scoreboard_rows 11 %>
</table>

<div class='footer'>
<h3>Leading Year: Year <%= @leading_year %></h3>
<h3>Leading Form: <%= @leading_form %></h3>
</div>