<div class='settable'>
<table border=1>
  <tr>
    <th>Activity</th>
    <th>Year</th>
    <th>Group</th>
    <th class="turing">Turing</th>
    <th class="winston">Winston</th>
    <th class="sharman">Sharman</th>
    <th class="ennis">Ennis</th>
  </tr>
  <% @events.each do |event| %>
    <%= turbo_stream_from event %>

    <tr>
        <td><%= event.activity %></td>
        <td><%= event.year %></td>
        <td><%= event.gender %></td>
        <td class="turing"><%= event.turing %></td>
        <td class="winston"><%= event.winston %></td>
        <td class="sharman"><%= event.sharman %></td>
        <td class="ennis"><%= event.ennis %></td>
    </tr>
  <% end %>
</table>    
</div>