<%= render "buttons" %>

<a href="/set_scores">All</a>
<a href="/set_scores?year=9">Year 9</a>
<a href="/set_scores?year=10">Year 10</a>
<a href="/set_scores?year=11">Year 11</a>
<div class='settable'>
<table border=1>
  <tr>
    <th>Activity</th>
    <th>Year</th>
    <th>Group</th>
    <th class="winston">Winston</th>
    <th class="ennis">Ennis</th>
    <th class="sharman">Sharman</th>
    <th class="turing">Turing</th>
    <th>Change Score</th>
  </tr>
  <% @events.each do |event| %>
    <%= turbo_stream_from event %>

    <tr>
      <%= form_with url: set_score_path(id: event.id), method: :put do |form| %>
        <td><%= event.activity %></td>
        <td><%= event.year %></td>
        <td><%= event.gender %></td>
        <td class="winston"><%= form.text_field :winston, value: event.winston, id: "#{event.id}-winston" %></td>
        <td class="ennis"><%= form.text_field :ennis, value: event.ennis, id: "#{event.id}-ennis" %></td>
        <td class="sharman"><%= form.text_field :sharman, value: event.sharman, id: "#{event.id}-sharman" %></td>
        <td class="turing"><%= form.text_field :turing, value: event.turing, id: "#{event.id}-turing" %></td>
        <td><%= form.submit "Set Score" %></td>
      <% end %>
    </tr>
  <% end %>
</table>    
</div>

<% @activities.each do |activity| %>
  <%= link_to activity.activity, set_scores_path(:activity => activity.activity) %>
<% end %>