<a href="/set_scores">All</a>
<a href="/set_scores?year=9">Year 9</a>
<a href="/set_scores?year=10">Year 10</a>
<a href="/set_scores?year=11">Year 11</a>
<table border=1>
  <tr>
    <th>Activity</th>
    <th>Year</th>
    <th>Gender</th>
    <th>Turing</th>
    <th>Winston</th>
    <th>Sharman</th>
    <th>Ennis</th>
    <th>Change Score</th>
  </tr>
  <% @events.each do |event| %>
    <%= turbo_stream_from event %>

    <tr>
      <%= form_with url: set_score_path(id: event.id), method: :put do |form| %>
        <td><%= event.activity %></td>
        <td><%= event.year %></td>
        <td><%= event.gender %></td>
        <td><%= form.text_field :turing, value: event.turing %></td>
        <td><%= form.text_field :winston, value: event.winston %></td>
        <td><%= form.text_field :sharman, value: event.sharman %></td>
        <td><%= form.text_field :ennis, value: event.ennis %></td>
        <td><%= form.submit "Set Score" %></td>
      <% end %>
    </tr>
  <% end %>
</table>    


<% @activities.each do |activity| %>
  <%= link_to activity.activity, set_scores_path(:activity => activity.activity) %>
<% end %>