<!DOCTYPE html>
<html>
  <head>
    <title>Sports Day Scoreboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <% turbo_refreshes_with method: :morph, scroll: :preserve %>
    
    <%= yield :head %> <%# used by Turbo Drive helpers %>
  </head>

  <body>
    <div class="header">
      <%= image_tag "UTC-Sheffield-Olympic-Legacy-Park.svg", alt: "UTC OLP Logo" %>
      <h1>Winter Games</h1>
    </div>
    <%= link_to "Log in", "/auth/" %>
    <%= link_to "Log out", "/auth/logout" %>
    <%= link_to "Set Scores", "/set_scores" %>
    <br />
    <%= yield %>
  </body>
</html>
